@font-face {
  font-family: "MaderingFont";
  src: url("./madering-font.woff2") format("woff2"),
    url("./madering-font.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

.hello {
  color: red;
  font-family: "MaderingFont";
  background: url("./forest.png");
}
